@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@400;500;600;700&display=swap');

body {
  font-family: 'Anek Malayalam', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.container-fluid {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #343a40;
  color: white;
  padding: 20px;
  height: 100%;
  min-height: 100%; 
}

.sidebar h1 {
  font-size: 24px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar nav ul li a .bi {
  margin-right: 8px;
}

.sidebar nav ul li a:hover {
  color: lightgray;
}

.content {
  padding: 20px;
  background-color: #f8f9fa;
  flex-grow: 1;
  overflow: auto; 
  height: 100vh;
}

/* Style for table */
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Anek Malayalam', sans-serif;
}

.table-responsive {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

.table-responsive::-webkit-scrollbar {
  width: 8px;
}

.table-responsive::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.thead-gold {
  background-color: #ffd682;
  color: #121212;
  border-top: none;
}

.thead-green {
  background-color: #52736e;
  color: #f4f4f4;
  border-top: none;
}

.table thead th {
  border-top: none !important;
}

.table th,
.table td {
  white-space: nowrap;
  padding: 10px;
}

/* Table with gold card */
.card[style*="background-color: #ffd682"] .table tbody {
  background-color: #ffd682; 
}

.card[style*="background-color: #ffd682"] .table th,
.card[style*="background-color: #ffd682"] .table td {
  border-top: 1px solid #121212;
  border-bottom: 1px solid #121212;
}

/* Table with green card */
.card[style*="background-color: #52736E"] .table tbody {
  background-color: #52736e; 
}

.card[style*="background-color: #52736E"] .table th,
.card[style*="background-color: #52736E"] .table td {
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}

.table-hover tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Hover effect */
}

/* Style for card */
.card {
  height: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 100px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-clip: padding-box; 
  font-family: 'Anek Malayalam', sans-serif;
}

.card-body {
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
  background-clip: padding-box;  
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.list-group-item label {
  font-weight: bold;
}

.list-group-item span {
  font-size: 14px;
}
