{% extends "base.html" %} {% block content %}
<h1>Data Input</h1>
<p>This is the Data page.</p>

<!-- Formulir untuk input data -->
<form id="predictForm">
  <div class="form-group">
    <label for="inputPeriod">Forecast Period (months):</label>
    <input type="number" class="form-control" id="inputPeriod" value="12" />
  </div>
  <div class="form-group">
    <label for="inputOverhaul">Overhaul (comma-separated):</label>
    <input
      type="text"
      class="form-control"
      id="inputOverhaul"
      placeholder="e.g. 0,0,0,-1000,0,0"
    />
  </div>
  <div class="form-group">
    <label for="inputHolidays">Holidays (comma-separated):</label>
    <input
      type="text"
      class="form-control"
      id="inputHolidays"
      placeholder="e.g. 0,500,0,0,0,500"
    />
  </div>
  <button type="submit" class="btn btn-primary">Predict</button>
</form>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  document
    .getElementById("predictForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();
      var forecastPeriod = parseInt(
        document.getElementById("inputPeriod").value
      );
      var inputOverhaul = document
        .getElementById("inputOverhaul")
        .value.split(",")
        .map(Number);
      var inputHolidays = document
        .getElementById("inputHolidays")
        .value.split(",")
        .map(Number);

      var customExog = {
        Overhaul: inputOverhaul,
        Holidays: inputHolidays,
      };

      fetch("/predict", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          forecast_period: forecastPeriod,
          custom_exog: customExog,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          // Simpan hasil prediksi di localStorage
          localStorage.setItem("forecastData", JSON.stringify(data));
          // Redirect ke halaman forecast
          window.location.href = "/forecast";
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });
</script>

{% endblock %}
