{% extends "base.html" %} 
{% block content %}
<h1>Data Page</h1>
<p>This is the Data page.</p>

<div class="row">
  <div class="col-12 mb-3">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">Table Data Actual</h5>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">DATE</th>
                <th scope="col">Actual Value</th>
              </tr>
            </thead>
            <tbody id="actualDataTableBody">
              <!-- Data tabel akan diisi oleh JavaScript -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-6 col-12 mb-3">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">Model Evaluation</h5>
        <ul id="modelEvaluation">
          <!-- Data evaluasi model akan diisi oleh JavaScript -->
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-12 mb-3">
    <div class="card bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title text-white">Summary Forecast Data</h5>
        <ul class="list-group text-dark" id="summary_Forecast">
          <li class="list-group-item d-flex justify-content-between">
            <span>Minimum:</span> <span id="forecastMin"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Maximum:</span> <span id="forecastMax"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Average:</span> <span id="forecastAvg"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-12 mb-3">
    <div class="card bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title text-white">Summary Actual Data</h5>
        <ul class="list-group text-dark" id="summary_Actual">
          <li class="list-group-item d-flex justify-content-between">
            <span>Minimum:</span> <span id="actualMin"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Maximum:</span> <span id="actualMax"></span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Average:</span> <span id="actualAvg"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/data.js') }}"></script>

{% endblock %}
