{% extends "base.html" %} {% block content %}

<h1>Data Page</h1>
<p>This is the Data page.</p>

<div class="row">
  <div class="col-lg-5">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title"><b>Model Peramalan</b></h4>
        <ul class="list-group">
          <li class="d-flex list-group-item justify-content-between">
            <span><b>Prophet</b></span>
            <span id="model-accuracy" class="badge"> Akurasi: Loading... </span>
          </li>
          <li class="d-flex list-group-item justify-content-between">
            <span><b>SARIMA</b></span>
            <span class="badge"> Akurasi: - </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-lg-7">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title"><b>Hasil Prediksi</b></h4>
        <div
          class="table-responsive"
          style="max-height: 300px; overflow-y: auto"
        >
          <table class="table table-hover">
            <thead class="thead-gold">
              <tr>
                <th scope="col">DATE</th>
                <th scope="col">Prophet</th>
                <th scope="col">SARIMA</th>
              </tr>
            </thead>
            <tbody id="forecast-table"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ECharts Chart -->
<div class="row">
  <div class="col-12 mt-3">
    <div class="card border-2 shadow-lg">
      <div class="card-body">
        <div id="compa-forecast" style="width: 100%; height: 400px"></div>
      </div>
    </div>
  </div>
</div>

<!-- Load JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/data.js') }}"></script>

{% endblock %}
