{% extends "base.html" %}

{% block content %}
<h1>Forecasting</h1>
<p>This is the Forecast page.</p>

<div class="row">
  <div class="col-12 mb-3">
    <div class="card">
        <div class="card-body">   
        <canvas id="forecastChart" style="width:100%; height:400px;"></canvas>
          ///letak plot
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">Data Forecast</h5>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">DATE</th>
                      <th scope="col">Forecast Value</th>
                      <th scope="col">Upper Value</th>
                      <th scope="col">Lower Value</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>01-01-2025</td>
                      <td>23,000</td>
                      <td>23,000</td>
                      <td>23,000</td>
                  </tr>
                  <tr>
                      <td>02-01-2025</td>
                      <td>21,000</td>
                  </tr>
                  <tr>
                      <td>03-01-2025</td>
                      <td>22,000</td>
                  </tr>
                  <tr>
                      <td>04-01-2025</td>
                      <td>24,000</td>
                  </tr>
                  <tr>
                      <td>05-01-2025</td>
                      <td>25,000</td>
                  </tr>
                  <tr>
                      <td>06-01-2025</td>
                      <td>21,000</td>
                  </tr>
                  <tr>
                      <td>07-01-2025</td>
                      <td>27,000</td>
                  </tr>
                  <tr>
                      <td>08-01-2025</td>
                      <td>25,000</td>
                  </tr>
                  <tr>
                      <td>09-01-2025</td>
                      <td>22,000</td>
                  </tr>
                  <tr>
                      <td>10-01-2025</td>
                      <td>21,000</td>
                  </tr>
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">TABLE 2</h5>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">DATE</th>
                <th scope="col">VALUE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01-01-2025</td>
                <td>23,000</td>
              </tr>
              <tr>
                <td>02-01-2025</td>
                <td>21,000</td>
              </tr>
              <tr>
                <td>03-01-2025</td>
                <td>22,000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
